html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

.femi-img {
  align-content: center;
}

.bm-item:hover {
  color: #d1d1d1;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #3895D3;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #3895D3;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* #page-wrap .page-button {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}
.page-button .profile {
  width: 10em;
  height: 2em;
  padding: 20px;
} */